# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
.dart_tool
.idea
cache-v2
cmakeFiles-v1
codemodel-v2
cache-v2-df33a1486ee3d882505b.json
cmakeFiles-v1-d3eaf20f5221c1f3d6b6.json
codemodel-v2-fdecfc6e050ebab6ec27.json
directory-.-Debug-d0094a50bb2071803777.json
index-2025-04-22T09-24-24-0796.json
CMakeCache.txt
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeDetermineCompilerABI_C.bin
CMakeDetermineCompilerABI_CXX.bin
CMakeSystem.cmake
CMakeCCompilerId.c
CMakeCCompilerId.o
CMakeCXXCompilerId.cpp
CMakeCXXCompilerId.o
TargetDirectories.txt
cmake.check_cache
rules.ninja
additional_project_files.txt
android_gradle_build.json
android_gradle_build_mini.json
build.ninja
build_file_index.txt
cmake_install.cmake
configure_fingerprint.bin
metadata_generation_command.txt
prefab_config.json
symbol_folder_index.txt
cache-v2-3a6e88d71520f8014e6b.json
cmakeFiles-v1-f0c281e357e7489bd46c.json
codemodel-v2-52d3fa95966bff541bf4.json
index-2025-04-22T09-24-29-0665.json
hash_key.txt
cache-v2-46df43f70d8b74bff09b.json
cmakeFiles-v1-1b5c28a53018a4844a19.json
codemodel-v2-2c07d93c31427d4860b6.json
index-2025-04-22T09-24-34-0328.json
cache-v2-5eb91b5b14d3b374a9cc.json
cmakeFiles-v1-44c91bf867928e01a9f0.json
codemodel-v2-0220514f69e9cd3d63cb.json
index-2025-04-22T09-24-37-0160.json
